body {
   /*background-color: red;*/
}

main {
  background-color: #eee;
}

main, header {
  max-width: 960px;
  margin: 0 auto;
}

span {
  text-transform: capitalize;
}

.menu-list li {
  display: inline-block;
}
